* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#heading {
    text-align: center;
    margin: 10px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    margin-top: 5%;
}

.card {
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    background-color: #c8c8c8;
}

.flex-item {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
}

#btnFlex {
    height: 100px;
    width: 100px;
    padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color:blueviolet;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}